{
  "extends": "eslint-config-airbnb",
  "parser": "babel-eslint",
  "globals": {
    "process": {
      "env": {
        "NODE_ENV": false
      }
    },
    "__PROD__": false,
    "__UAT__": false,
    "__TEST__": false,
    "__DEV__": false,
    "__LOCAL__": false,
    "__DEBUG__": false,
    "__PACKAGE_VERSION__": false
  },
  "env": {
    "es6": true
  },
  "ecmaFeatures": {
    "classes": true,
    "modules": true,
    "jsx": true
  },
  "rules": {
    "curly": [
      1,
      "multi-line"
    ],
    "comma-dangle": [
      1,
      "never"
    ],
    "key-spacing": [
      0,
      {
        "beforeColon": true,
        "afterColon": true
      }
    ],
    "spaced-comment": 1,
    "prefer-arrow-callback": 1,
    "no-multi-spaces": 0,
    "no-multiple-empty-lines": 1,
    "arrow-spacing": 1,
    "no-return-assign": 0,
    "new-cap": 0,
    "no-else-return": 0,
    "no-trailing-spaces": 0,
    "prefer-const": 1,
    "one-var": [
      0,
      {
        "var": "always",
        "let": "always",
        "const": "always"
      }
    ],
    "padded-blocks": 0,
    "no-var": 0,
    "yoda": 0,
    "space-before-function-paren": [
      0,
      "always"
    ],
    "react/jsx-quotes": [
      0,
      "single"
    ],
    "no-warning-comments": [
      1,
      {
        "terms": [
          "todo",
          "fixme",
          "xxx"
        ],
        "location": "start"
      }
    ],
    "no-useless-constructor": 0,
    "consistent-return": 0,
    "jsx-quotes": [
      1,
      "prefer-single"
    ],
    "object-curly-spacing": 0,
    "arrow-body-style": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-closing-bracket-location": 0,
    "no-unused-vars": [
      1,
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "object-shorthand": 0,
    "no-undef": 2,
    "react/prop-types": 1,
    "semi": 1,
    "react/sort-comp": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-no-bind": 0,
    "space-in-parens": [
      1,
      "never"
    ],
    "no-alert": 1,
    "quotes": [
      1,
      "single",
      "avoid-escape"
    ],
    "no-shadow": 0,
    "space-before-blocks": [
      1,
      "always"
    ],
    "guard-for-in": 0,
    "no-param-reassign": [
      1,
      {
        "props": false
      }
    ],
    "array-callback-return": 0,
    "indent": [
      1,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-spaced-func": 1,
    "no-use-before-define": 2,
    "radix": 1,
    "max-len": [
      1,
      120
    ],
    "brace-style": [
      1,
      "1tbs"
    ],
    "no-nested-ternary": 0,
    "keyword-spacing": 1,
    "no-extra-parens": 0,
    "func-names": 0,
    "comma-spacing": [
      1,
      {
        "before": false,
        "after": true
      }
    ],
    "no-unneeded-ternary": 0,
    "one-var-declaration-per-line": 0,
    "react/wrap-multilines": 1,
    "prefer-template": 1
  }
}
